* {
	margin: 0;
	padding: 0;
}
html{
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    }
.wrapper {
	position: relative;
	min-height: 100%;
}
.logo{
    width: 100px !important;
    height: auto;
}
.logo img{
    width: 100%;
    height: 100%;
}
.login{
    position: relative;
}
.reg{
    margin-right: 30%;
    margin-left: 30%;
}
.form{
    
    background: white;
    border: dotted cornflowerblue 3px;
}
.input_img{
    border:none;
    margin-bottom: 10px;
}
.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.bv-form .bv-icon-no-label {
	top: 0;
}

.bv-form .bv-icon-input-group {
	top: 0;
	z-index: 100;
}
.header{
    background-color: white;
}
.icons{
    cursor: pointer !important;
}
.icons img{
    height: 50px;
    width: 50px;
}
.login img{
    height: 50px;
}
#content_window{
    position: fixed;
    /* margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%; */
    left: 30%;
    right: 30%;
    width:auto;
    z-index:100;
    background: rgba(255, 255, 255, 1);
    display:none;
    border: #28a745 2px solid;
   }
   #x{
    padding-right: 10px;
    top:0;
    right: 0;
    position: absolute;
    cursor: pointer;
   }
.slider {
    display: block;
    z-index: 0;
    width: 100%;
    height: 400px;
}
.slider img{
    width: 100%;
    height: 400px;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 100px;
    background-color: gray;
}
.main{
    padding-bottom: 90px;
}
.tea_box{
    height: 300px;
    background-color: green;
    border-right: 10px solid white;
    /* right: 20px; */
}
.admin_ul li{
    list-style-type: none ;
}
.breadcrumb a{
    margin-right: 1rem;
}
.aks_box{
    height: 300px;
    background-color: grey;
}
.sladkoe_box{
    height: 300px;
    background-color: plum;
    border-right: 10px solid white;
    /* right: 20px; */
}
.coffee_box{
    height: 300px;
    background-color: rgb(54, 39, 39);
}
.sale_box{
    height: 300px;
    /* margin-right: 20px; */
    background-color: sandybrown;
}
.item_box{
    height: auto;
    transition: 1s;
}   
.item_box:hover{
    transform: scale(1.1);
    border: gray solid 1px;
    z-index: inherit 2;
}
.item_box img{
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 1000%;
    min-height: 70%;
    padding-top: 10px;
}
.name_product{
    min-height: 30%;
}
.name_product h5{
    font-weight: bolder;
}

.h1_items{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .last{
    right: 0 !important;
} */
.img_photo img{
    width: 100%;
    height: auto;
    transition: 1s;
}
.img_photo{
    
    overflow:hidden;
	display:inline-block;
	position:relative;
}
.img_photo img:hover{
    transform: scale(1.1);
}
.dropdown-menu{
    width: 100%;
}
.number{
    text-align: right;
    font-size: 20px;
}
.nav_search{
    width: 100%;
}
.nav_search form{
    width: 100%;
}
.search{
    width: 80% !important;
}
.about-item{
    height: 400px;
    border: gray solid 1px;
}
.about_h2{
    text-align: center;
}
.category{
    border: black solid 1px;
    height: 300px;
}
.productList{
    height: 900px;
    border: black solid 1px;
}
.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}
.single-products {
    position: relative;
  }
.productinfo h2{
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.productinfo p a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  color: black;
}
.productinfo p{
    color: black;
}
.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}
.pag{
    position: absolute;
    bottom: 0px;
}
.new, .sale {
    position: absolute;
    top: 0;
    right: 0;
  }
.add-to-cart {
    color: white;
    font-size: 15px;
    margin-bottom: 25px;
  }
/*  
  .add-to-cart:hover {
    background: #007bff;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
  }
  
  .add-to{
    margin-bottom: 10px;
  }
  
  .add-to-cart i{
      margin-right:5px;
  }
  
  .add-to-cart:hover {
    background: #007bff;
    color: #FFFFFF;
  } */
  .catalog-item a{
    color: black;
  }
.catalog-item-active{
    color: #007bff !important;
}
.header-middle .container {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    max-width: 100% !important;
  }
  
  .header-middle .container .row .col-md-2{
    padding-left: 0;
  }
  
  .header-middle .container .row .col-md-4 {
      padding-right:0;
  }
.shop-menu ul{
    display: inline-block !important;
} 
.shop-menu li {
  display:inline-block !important;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}


.shop-menu ul li a {
  background: #FFFFFF;
  color: #007bff;
  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.shop-menu ul li a i{
	margin-right:3px;
}


.shop-menu ul li a:hover {
	color:#28a745;
	background:#fff;
}
